<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Betahaus Sofia Facility</title>

    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="on" http-equiv="cleartype">

    <base href="/">
    <link rel="shortcut icon" href="logo.png">
    <link rel="manifest" href="manifest.json">

    <style>
      <%
        const primary = '#4285f4';
        const spinnerSize = 300;
        const prefixes = {
          animation: ['-webkit-', ''],
          keyframes: ['-webkit-', ''],
          transform: ['-webkit-', '-ms-', '']
        };
        const prefixed = (type, value, separator) => prefixes[type].map((prefix) => prefix + value.trim()).join(separator || ' ');
      %>

      body {
        background: <%= primary %>;
      }

      #container {
        transition: opacity 0.33s cubic-bezier(0.33, -0.69, 0.25, 1);
        opacity: 0;
      }

      #container.loaded {
        opacity: 1;
      }

      #spinner-view {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -<%= spinnerSize / 2 %>px;
        margin-left: -<%= spinnerSize / 2 %>px;

        transition: all 0.33s cubic-bezier(0.33, -0.69, 0.25, 1);
      }

      #spinner-view.loaded {
        opacity: 0;

        <%= prefixed('transform', `
        transform: scale(0);
        `) %>
      }

      #spinner {
        width: <%= spinnerSize %>px;
        height: <%= spinnerSize %>px;
      }

      #logo {
        stroke: white;
        stroke-linejoin: round;
        stroke-linecap: round;
        fill: white;
        font-style: italic;
        font-weight: bold;

        <%= prefixed('animation', `
        animation: fadeInStroke 0.5s ease-in, fadeInOutFill 1.5s ease-in infinite;
        `) %>
      }

      <% prefixes.keyframes.forEach((prefix) => { %>
      @<%= prefix %>keyframes fadeInStroke {
        0% { stroke-opacity: 0; }
        100% { stroke-opacity: 1; }
      }
      <% }); %>

      <% prefixes.keyframes.forEach((prefix) => { %>
      @<%= prefix %>keyframes fadeInOutFill {
        0% { fill-opacity: 0; }
        50% { fill-opacity: 1; }
        100% { fill-opacity: 0; }
      }
      <% }); %>
    </style>
  </head>

  <body>
    <div id="container"></div>

    <% // Spinner displayed until the application loads %>
    <div id="spinner-view">
      <svg id="spinner" viewBox="0, 0, 100, 100">
        <text id="logo" x="32" y="70" font-size="72" font-family="Times New Roman">
          b
        </text>
      </svg>
    </div>
  </body>
</html>
