<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Betahaus Sofia Facility</title>

    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="on" http-equiv="cleartype">

    <base href="/">
    <link rel="shortcut icon" href="icon.png">
    <link rel="manifest" href="manifest.json">

    <% // Spinner %>
    <style>
      <%
        const primary = '#2980b9';
        const spinnerSize = 300;
        const prefixes = {
          animation: ['-webkit-', ''],
          'clip-path': ['-webkit-', ''],
          keyframes: ['-webkit-', ''],
          transform: ['-webkit-', '-ms-', '']
        };
        const prefixed = (type, value, separator) => prefixes[type].map((prefix) => prefix + value.trim()).join(separator || ' ');
        const round = (value) => Math.round(value * 100) / 100;
        const numberOfConcentricCircles = 5;
      %>

      body {
        background: <%= primary %>;
      }

      #spinner-view {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -150px;

        transition: all 0.2s ease;
      }

      #spinner-view.loaded {
        opacity: 0;

        <%= prefixed('transform', `
        transform: scale(0);
        `) %>
      }

      .spinner {
        width: <%= spinnerSize %>px;
        height: <%= spinnerSize %>px;
      }

      .spinner .from-center,
      .spinner .from-top,
      .spinner .from-left {
        stroke: white;
      }

      .spinner .from-center {
        stroke-width: 5;
        fill: <%= primary %>;

        <%= prefixed('animation', `
        animation: expand-from-center 2s linear infinite;
        `) %>
      }

      <% for (let index = 1; index <= numberOfConcentricCircles; index++) { %>
      .spinner .from-center:nth-of-type(<%= index %>) {
        <%= prefixed('animation', `
        animation-delay: ${round(0.2 * index)}s;
        `) %>
      }
      <% } %>

      <% prefixes.keyframes.forEach((prefix) => { %>
      @<%= prefix %>keyframes expand-from-center {
        0% {
          opacity: 0;
          r: 40;
        }
        20%, 40% {
          opacity: 0.2;
        }
        30% {
          opacity: 0.4;
        }
        100% {
          opacity: 0;
          r: 150;
        }
      }
      <% }); %>

      .spinner .from-top,
      .spinner .from-left {
        stroke-width: 10;
        stroke-linejoin: round;
        stroke-linecap: round;
        fill: none;
      }

      .spinner .from-top {
        <%= prefixed('animation', `
        animation: assemble-from-top 0.4s linear;
        `) %>

        <%= prefixed('animation', `
        animation-fill-mode: forwards;
        `) %>
      }

      <% prefixes.keyframes.forEach((prefix) => { %>
      @<%= prefix %>keyframes assemble-from-top {
        0% {
          opacity: 0;

          <%= prefixed('clip-path', `
          clip-path: polygon(
             50%   0%,
            100% -10%,
            100%  50%,
             50%  50%
          );
          `) %>
        }
        60% {
          <%= prefixed('clip-path', `
          clip-path: polygon(
             0% 20%,
            30%  0%,
            50% 30%,
            30% 50%
          );
          `) %>
        }
        100% {
          opacity: 1;

          <%= prefixed('clip-path', `
          clip-path: polygon(
            -30% 100%,
            -30%  60%,
             30%  60%,
             30% 100%
          );
          `) %>
        }
      }
      <% }); %>

      .spinner .from-left {
        <%= prefixed('animation', `
        animation: assemble-from-left 0.4s linear;
        `) %>

        <%= prefixed('animation', `
        animation-fill-mode: forwards;
        `) %>
      }

      <% prefixes.keyframes.forEach((prefix) => { %>
      @<%= prefix %>keyframes assemble-from-left {
        0% {
          opacity: 0;

          <%= prefixed('clip-path', `
          clip-path: polygon(
              0%  60%,
             40%  60%,
             40%  60%,
             40%  60%,
             40% 150%,
             40% 150%,
             40% 150%,
              0% 150%
          );
          `) %>
        }
        60% {
          <%= prefixed('clip-path', `
          clip-path: polygon(
             70%  60%,
             90%  60%,
             90%  40%,
             90%  40%,
            150% 150%,
            100% 150%,
            100% 150%,
             70% 150%
          );
          `) %>
        }
        100% {
          opacity: 1;

          <%= prefixed('clip-path', `
          clip-path: polygon(
             82%  60%,
             90%  60%,
             90%  40%,
             82%  40%,
             82% -90%,
            150% -10%,
            150% 150%,
             82% 150%
          );
          `) %>
        }
      }
      <% }); %>
    </style>

    <% // FontAwesome %>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    >
  </head>

  <body>
    <div id="container"></div>

    <% // Spinner displayed until the application loads %>
    <div id="spinner-view">
      <svg class="spinner" viewBox="0, 0, <%= spinnerSize %>, <%= spinnerSize %>">
        <% for (let index = 1; index <= numberOfConcentricCircles; index++) { %>
        <circle class="from-center" cx="150" cy="150"></circle>
        <% } %>

        <path
          class="from-top"
          d="
            M300,10
            c0,0 -160,0 -160,100
            v75
          "
        />

        <path
          class="from-left"
          d="
            M0,180
            h150
            c0,0 20,0 20,-15
            c0,0 0,-15 -20,-15
            h-15
          "
        />

        Loading...
      </svg>
    </div>

    <% // Embedded form %>
    <% /* %>
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSeGiloUO-HcDpf4V_yAnDNdDkfRPVeJGGF2Y2f6vt-lpeS-Yg/viewform?embedded=true"
      width="100%"
      height="1600px"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
    >
      Loading...
    </iframe>
    <% */ %>

    <% // Application scripts %>
    <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
    <script src="facility.js"></script>
  </body>
</html>
